*{
    margin:0;
    padding:0;
}

body{
    background-color: aliceblue;
}

.cabecalho{
    background-color:darkgrey;
    display: flex;
    justify-content: space-around;}

    .cabecalho-imagem {
        width: 80%;
        padding: 12px;
    }
    .lista-cabecalho {
        display: inline-block;
        padding: 30px;
        color: ghostwhite;
        font-size: 15px;
        font-weight: bolder;
    }

    .escola {
        background-image: linear-gradient();
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 24px 0;
    }

    .texto-lista {

        display: inline-block;
        list-style-type: none;
    }

    .escola-imagem {
        width: 100%;
        margin: 10px;
    }